@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; text-align: center;">
    <!-- Imagen centrada -->
    <img src="https://res.cloudinary.com/dniucj0iy/image/upload/v1737002746/EventsAdmin/Logo_CacaoByte_pfceq3.png"
         alt="Logo CommerceCore"
         style="width: 300px; height: auto; margin-bottom: 20px;">

    <!-- Texto centrado -->
    <h1 style="font-family: Arial, sans-serif; font-size: 3rem; font-weight: bold; color: #333;">CommerceCore API</h1>
</div>
